doctype html 
html 
    head 
        meta(chatset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title test

        //- bootstrap
        link(rel="stylesheet" type="text/css" href="./assets/bootstrap-4.5.3/css/bootstrap.min.css")
        
        link(rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css")

        //- Style CSS
        link(rel="stylesheet" type="text/css" href="./assets/css/main.css")
    body
        include ./header.pug
        block content
        include ./footer.pug

        //- jQuery
        <script src="./assets/js/jquery.min.js"></script>

       
        //- Bootstraps js

        <script src="./assets/bootstrap-4.5.3/js/bootstrap.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        //- Owl Carousel
        <script src="./assets/js/owl.carousel.min.js"></script>

        //- Java Script
        script(src="./assets/js/main.js")